<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Data</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Data for Mars</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="Mars-listings">
      <div class="col-md-12">
        <h3 class="heading">{{final_output.top_news_head}}</h3> 
		<h4>{{final_output.news_detail}}</h4>
		
		<hr>	
	  <p><img src={{final_output.featured_image}} alt="Max" style="width:500px;height:500px;margin-right:15px;">
	  
	  <p>{{final_output.weather}}</p>
	  <br>
	  <p>{{final_output.facts_table|safe }}</p>
	  
	

 	
	
          
		 
		<hr>
          
	  
	 
	  
	   {% for name in final_output.hemisphere_images %}
	   <hr>
          <li>{{ name['title'] }}</li> <li>{{ name['img_url'] }}</li> 
		  <p><img src={{ name['img_url'] }} alt="Max" style="width:300px;height:300px;margin-right:15px;"></p>
		<hr>
          {% endfor %}
	  
	  
		
        
		
      </div>
    </div>

  </div>
</body>

</html>

